@media (max-width: 600px) {
  .principal{
    flex-wrap: wrap;
    display: inline-block;
    height: 300px;
    width: initial;
    max-width: initial;
    min-width: 369px;
    min-height: 300px;
  }

  .principal__image-container {
    /* width: 100%; */
  }
  .principal__image {
    width: auto;
    margin-right: -50px;
  }

  .cat-list {
  width: 100vw;
  }
  .cat-list__container{
    display: inline-block;
  }
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  .cat-list__items {
    width: initial;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
}
