::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: rgba(190, 189, 189, 0.219);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.699);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*--------- properties sass---------*/
.item__details a, .item__details:hover, .item__details, .cat-list, .principal, .header {
  color: white;
}

/* ---------------- header ------ */
.header {
  /* outline: 1px solid red; */
  width: 1900px;
  height: 70px;
  max-width: 1900px;
  max-height: 70px;
  margin: 0 auto;
  background-color: black;
}

.header__container {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__container--logo {
  margin: 0 20px;
  width: auto;
  height: 70%;
  max-width: auto;
  max-height: 70%;
}

.header__container--title {
  font-size: 24px;
}

/* --------------Fin header ------ */
/* --------------Principal ------ */
.principal {
  background-color: black;
  width: 100%;
  height: 600px;
  max-width: 100%;
  max-height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal__image-container {
  width: 900px;
  height: inherit;
  max-width: 900px;
  max-height: inherit;
  clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 8% 50%, 0 0);
}

.principal__image {
  margin-right: -100px;
  width: 500px;
  height: inherit;
  max-width: 500px;
  max-height: inherit;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  object-fit: cover;
  transition: 450ms transform;
  transform-origin: center right;
}
.principal__image:hover {
  transform: translate3d(30px, 0, 0);
}

.principal__description {
  padding: 50px 30px;
  width: 400px;
  height: auto;
  max-width: 400px;
  max-height: auto;
}

/* --------------Fin Principal ------ */
/* -------------- Cat-list ------ */
.cat-list {
  width: 1900px;
  height: 800px;
  max-width: 1900px;
  max-height: 800px;
  margin: 0 auto;
  background-image: url("../images/cat-black-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cat-list__title {
  padding: 50px;
  font-size: 18px;
}

.cat-list__container {
  width: 100%;
  height: 673px;
  max-width: 100%;
  max-height: 673px;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: center;
  margin: auto;
}

.cat-list__details {
  width: 400px;
  height: auto;
  max-width: 400px;
  max-height: auto;
  margin: 50px;
}

.cat-list__items {
  width: 900px;
  height: auto;
  max-width: 900px;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  position: relative;
}

.cat-list__item__container {
  box-sizing: content-box;
  width: 100%;
  height: 350px;
  max-width: 100%;
  max-height: 350px;
  margin-right: 30px;
  white-space: nowrap;
}
.cat-list__item__container:hover .cat-list__item {
  opacity: 0.5;
}
.cat-list__item__container:hover .cat-list__item:hover {
  opacity: 1;
}

.cat-list__item {
  width: 200px;
  height: 300px;
  max-width: 200px;
  max-height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: -110px;
  display: inline-block;
  transition: 450ms transform;
  transform-origin: center left;
  position: relative;
}
.cat-list__item:hover ~ .cat-list__item {
  transform: translate3d(110px, 20px, 0);
}

.item__image {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  object-fit: cover;
}

.item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 225px 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.item__details:hover {
  opacity: 1;
}
.item__details p {
  font-size: 20px;
  margin: 5px 0;
}
.item__details a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}
.item__details a:hover {
  text-decoration: underline;
}

/* -------------- Fin Cat-list ------ */
/* -------------- Footer ------ */
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  max-width: 100%;
  max-height: 150px;
  background: #ff0076;
  background: linear-gradient(360deg, #ff0076 0%, #340018 50%, black 100%);
}

.footer__image {
  width: 115px;
  height: auto;
  max-width: 115px;
  max-height: auto;
  margin-right: 30px;
}

/* -------------- fin Footer ------ */

/*# sourceMappingURL=catStyle.css.map */
