::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: rgba(190, 189, 189, 0.219);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.699);
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
/*--------- properties sass---------*/
$transitionTime: 450ms;

@mixin transition($time, $property, $direction){
  transition: $time $property;

  @if $property == transform {
    transform-origin: center $direction;
  }
}

@mixin volumn($width, $height){
  width: $width;
  height: $height;
  max-width: $width;
  max-height: $height;
}

%text-color{
  color: white;
}

@mixin center($property) {
  display: flex;
  align-items: center;
  justify-content: $property;
}

/* ---------------- header ------ */
.header{
  /* outline: 1px solid red; */
  background-color: black;
  @extend %text-color;
}
.header__container{
  @include volumn(100%, 70px);
  margin: 0;
  @include center(flex-start);
}
.header__container--logo{
  margin: 0 20px;
  @include volumn(auto,70%);
}
.header__container--title{
  font-size: 24px;
}
/* --------------Fin header ------ */
/* --------------Principal ------ */
.principal{
  background-color: black;
  @extend %text-color;
  @include volumn(auto,600px);
  @include center(center);
}
.principal__image-container{
  @include volumn(900px,inherit);
  clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 8% 50%, 0 0);
}
.principal__image{
  margin-right: -100px;
  @include volumn(500px,inherit);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  object-fit: cover;
  @include transition($transitionTime, transform, right);

  &:hover{
    transform: translate3d(30px, 0, 0);
  }
}

.principal__description{
  padding: 50px 30px;
  @include volumn(400px,auto);
}
/* --------------Fin Principal ------ */
/* -------------- Cat-list ------ */
.cat-list{
  @include volumn(100%,800px);
  @extend %text-color;
  background-image: url('../images/cat-black-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cat-list__title{
  padding: 50px;
  font-size: 18px;
}
.cat-list__container{
  @include volumn(100%,673px);
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 100%);
  @include center(center);
  margin: auto;
}
.cat-list__details{
  @include volumn(400px,auto);
  margin: 50px;
}
.cat-list__items{
  @include volumn(900px,auto);
  @include center(center);
  overflow: scroll;
  position: relative;
}
.cat-list__item__container{
  box-sizing: content-box;
  @include volumn(100%,350px);
  margin-right: 30px;
  white-space: nowrap;

  &:hover{
    .cat-list__item{
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }
    }

  }

}
.cat-list__item{
  @include volumn(200px,300px);
  border-radius: 20px;
  overflow: hidden;
  margin-right: -110px;
  display: inline-block;
  @include transition($transitionTime,transform,left);
  position: relative;

  &:hover{
    ~.cat-list__item{
      transform: translate3d(110px, 20px, 0);
    }
  }

}

.item__image{
  @include volumn(inherit,inherit);
  object-fit: cover;
}

.item__details{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  @extend %text-color;
  font-size: 10px;
  opacity: 0;
  @include transition($transitionTime,opacity,left);
  padding: 225px 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover{
    opacity: 1;
    @extend %text-color;
  }

  p{
    font-size: 20px;
    margin: 5px 0;
  }

  a{
    font-size: 12px;
    @extend %text-color;
    text-decoration: none;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }
}

/* -------------- Fin Cat-list ------ */
/* -------------- Footer ------ */
.footer{
  /* outline: 1px solid red; */
  @include center(flex-end);
  @include volumn(100%,150px);
  background: rgb(255,0,118);
  background: linear-gradient(360deg, rgba(255,0,118,1) 0%, rgba(52,0,24,1) 50%, rgba(0,0,0,1) 100%);
}
.footer__image{
  @include volumn(115px,auto);
  margin-right: 30px;
}

/* -------------- fin Footer ------ */
